<!-- blog breadcrumb version one strat here -->
<section class="breadcrumb-blog-version-one">
	<div class="single-bredcurms" style="background-image:url('/assets/bercums/Single-Package-Details.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="bredcrums-content">
						<h2>Profile</h2>
						<ul>
							<li><a href="index.html">Home</a>
							</li>
							<li class="active">Profile
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- blog breadcrumb version one end here -->

<section class="section-paddings single-package-area">
	<div class="container">
		<div class="row">
			<!-- single package tab with details -->
			<div class="col-md-4 col-sm-12">
				<aside>
					<div class="booking-form">
						<div class="booking-title">
							<h2>Michel Lamiche</h2>
						</div>
					<div class="profile-userpic">
						<% if @user.avatar.attached? %>
                          <%= image_tag @user.avatar %>
                        <% else %>   
                    		<img src="/assets/icon/deku.jpg" class="img-responsive" alt="">
                        <% end %>
					
                		</div>
                	</br>
                	</br>
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>	
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>	
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>	
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>	
						<div class="form-group">
							<h4>Lieu : Paris</h4>
						</div>		
					</div>
				</aside><!-- adverestment start here-->		
			</div>
			<!-- booking form start here -->
			<div class="col-md-8 col-sm-12">
				<aside>
					<div class="booking-form">
						<div class="booking-title">
							<h3>About me</h3>
						</div>
						<div class="booking-title">
							<p style="text-align: justify;">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
						</div>
					</div>
				</aside><!-- adverestment start here-->
			</br>

							<div class="discount-bg discount-content text-center">
								<h2>Create your events</h2>
								<div class="discount-btn">
									<a href="#" class="travel-primary-btn hvr-fade">Create</a>
								</div>
						</div>
					
			</br>
				<aside>
					<div class="booking-form">
						<div class="booking-title">
							<h2>Book This Tour</h2>
						</div>
					</div>
				</aside><!-- adverestment start here-->	

				
			</div><!-- booking form end here -->
		</div>
	</div>
</section>
