<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">  

<!-- slider area start here -->
<section class="slider-area-2 slider-area-3 slider-area-4">
  <div class="rev_slider_wrapper">
    <div id="rev_slider_5" class="rev_slider" style="display:none">
      <!-- BEGIN SLIDES LIST -->
      <ul>
        <!-- first slider -->
        <li data-transition="random-premium">
          <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
          <img src="/assets/slider/bg1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <div class="image-overlay"></div>
          <!-- BEGIN BASIC TEXT LAYER -->
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4  title-50" data-x="['left', 'left', 'left', 'left']" data-hoffset="0" data-y="center" data-voffset="-120" data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:25px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
            <h3>Join The FreeNation</h3>
          </div>

          <!-- LAYER NR.3 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-51" data-x="left" data-hoffset="0" data-y="center" data-voffset="-50" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;">Create and join excursions</h2>
          </div>
          <!-- LAYER NR.4 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-52" data-x="left" data-hoffset="0" data-y="center" data-voffset="10" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;">with <span>digital nomads</span></h2>
          </div>
          <!-- LAYER NR.5 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-53" data-x="left" data-hoffset="0" data-y="center" data-voffset="70" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;">around the world</h2>
          </div>
          <!-- LAYER NR.6 -->
          <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p5" data-x="left" data-hoffset="0" data-y="center" data-voffset="150" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 7; font-size:18px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
           <%= link_to 'Subscribe', new_user_registration_path, :class => "travel-primary-btn hvr-shutter-out-vertical" %> 
          </div>

          

          <!-- LAYER NR.7 -->
          <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p55"  data-x="left" data-hoffset="0" data-y="center" data-voffset="180" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 7; font-size:18px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
            
          </div>


          <!-- LAYER NR.8 -->
          <div class="tp-caption lfb tp-resizeme header-btn-5" data-x="left" data-hoffset="0" data-y="center" data-voffset="280" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 8;">
          </div>
        </li>
        <!-- end slider one -->

        <!-- second slider -->
        <li data-transition="random-premium">
          <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
          <img src="/assets/bgimage/organise_event.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
          <div class="image-overlay"></div>
          <div class="image-overlay"></div>
          <!-- BEGIN BASIC TEXT LAYER -->
          <!-- LAYER NR. 2 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-50" data-x="['center', 'center', 'center', 'center']" data-hoffset="0" data-y="center" data-voffset="-120" data-frames='[{"delay":0,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:25px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
            <h3></h3>

          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-51" data-x="center" data-hoffset="0" data-y="center" data-voffset="-50" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;">You know a place up and down ?</h2>
          </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-52" data-x="center" data-hoffset="0" data-y="center" data-voffset="10" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;"> You want to share with digital nomads ?</h2>
          </div>
          <!-- LAYER NR.5 -->
          <div class="tp-caption sfr font-extra-bold tp-resizeme letter-space-4 title-53" data-x="center" data-hoffset="0" data-y="center" data-voffset="70" data-frames='[{"delay":1000,"speed":3000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 6; font-size:60px; color:#fff; text-transform:uppercase; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:600;">
            <h2 style="font-size:60px;">Propose your meeting !</h2>
          </div>
          <!-- LAYER NR.6 -->
          <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p25" data-x="center" data-hoffset="0" data-y="center" data-voffset="150" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 7; font-size:18px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;"><a href="/events/new" class="travel-primary-btn hvr-shutter-out-vertical">Create</a>
            
          </div>

          <!-- LAYER NR.7 -->
          <div class="tp-caption font-lora sfb tp-resizeme letter-space-5 header-p255" data-x="center" data-hoffset="0" data-y="center" data-voffset="180" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 7; font-size:18px; color:#fff; font-family:'Poppins', sans-serif; white-space: nowrap; font-weight:400;">
            
          </div>

          <!-- LAYER NR. 8 -->
          <div class="tp-caption lfb tp-resizeme header-btn-5" data-x="center" data-hoffset="0" data-y="center" data-voffset="280" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' style="z-index: 8;">
          </div>
        </li><!-- end second slider -->
      </ul><!-- END SLIDES LIST -->
    </div><!-- END SLIDER CONTAINER -->
  </div><!--  END SLIDER CONTAINER WRAPPER -->
</section><!-- slider area end here -->


<section class="section-paddings">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title-version-2-black text-center">
          <h2>Work, meet & travel around the world</h2>
        </div>
      </div>
    </div>
    <!-- gallery iteam start here -->
    <div class="grid-3">
      <div class="col-sm-12 col-md-6 grid-item">
        <figure>
          <img src="assets/gallery/t4.jpg" alt="">
          <figcaption>
            <a href="assets/gallery/t4.jpg"><i class="fas fa-image"></i></a>
            <h4>Place <span>Macchu Picchu</span></h4>
            <h4>Caption By: <span>Elmousski</span></h4>
          </figcaption>
        </figure>
      </div> <!-- end single gallery -->

      <div class="col-sm-6 col-md-3 grid-item">
        <figure>
          <img src="assets/gallery/t1.jpg" alt="">
          <figcaption>
            <a href="assets/gallery/t1.jpg"><i class="fas fa-image"></i></a>
            <h4>Place <span>Ushuaïa</span></h4>
            <h4>Caption By: <span>Elmousski</span></h4>
          </figcaption>
        </figure>
      </div> <!-- end single gallery -->

      <div class="col-sm-6 col-md-3 grid-item">
        <figure>
          <img src="assets/gallery/t6.jpg" alt="">
          <figcaption>
            <a href="assets/gallery/t6.jpg"><i class="fas fa-image"></i></a>
            <h4>Place <span>Attacama</span></h4>
            <h4>Caption By: <span>Elmousski</span></h4>
          </figcaption>
        </figure>
      </div> <!-- end single gallery -->

      <div class="col-sm-6 col-md-3 grid-item">
        <figure>
          <img src="assets/gallery/t2.jpg" alt="">
          <figcaption>
            <a href="assets/gallery/t2.jpg"><i class="fas fa-image"></i></a>
            <h4>Place <span>Uyuni</span></h4>
            <h4>Caption By: <span>Elmousski</span></h4>
          </figcaption>
        </figure>
      </div> <!-- end single gallery -->

      <div class="col-sm-6 col-md-3 grid-item">
        <figure>
          <img src="assets/gallery/t5.jpg" alt="">
          <figcaption>
            <a href="assets/gallery/t5.jpg"><i class="fas fa-image"></i></a>
            <h4>Place <span>Lima (Peru) </span></h4>
            <h4>Caption By: <span>Elmousski</span></h4>
          </figcaption>
        </figure>
      </div> <!--single gallery end -->

    </div> <!-- gallery item end here -->
  </div>
</section> <!-- gallery section end here -->


<section class="countdown count-down-bg image-bg-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12-col-xs-12">
        <div class="count-down-titile">
          <h3>Our first meeting in <span class="color-one">PERU</span> ! </h3>
        </div>
        <div class="count-timer text-center">
          <div class="time-wrapper">
            <p>It’s limited seating! Hurry up</p>
            <div class="timer">
              <div data-countdown="2019/01/18"></div>
            </div>
          </div>
        </div>
        <div class="buy-now text-center">
          <a href="#" class="travel-primary-btn hvr-fade">Join</a>
        </div>
      </div>
    </div>
  </div>
</section>  <!--end  countdown -->

<!-- subscribe area start here -->
<section class="subscribe-area subscribe-area-2">
  <div class="container">
    <div class="row bg-gradent">
      <div class="col-md-5 col-sm-6 col-xs-12  subscribe-title-box">
        <div class="subscribe-title">
          <h2>Join Our Subscribe List</h2>
        </div>
      </div>
      <!-- subscribe form start here -->
      <div class="col-md-7 col-sm-7 col-xs-12  subscribe-form-box">
        <div class="subscribe-form">
          <form action="#" method="post">
            <div class="serach-form">
              <input type="text" name="search" id="search" placeholder="" value="Enter Your Email To subscribe" onblur="if(this.value==''){this.value='Enter Your Email To subscribe'}" onfocus="if(this.value=='Enter Your Email To subscribe'){this.value=''}">
            </div>
            <div class="search-btn">
              <button type="button">Send</button>
            </div>
          </form>
        </div>
      </div><!-- subscribe form end here -->
    </div>
  </div>
</section><!-- subscribe area end here -->